<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <input #input type="text" class="form-control" placeholder="Buscar Niño.....">
            </div>
        </div>
    </div>
</div>



<div class="row">
    <div class="col-sm-12">
        <div class="alert alert-warning text-center">
            <strong>Cargando</strong>
            <br>
            <i class="fa fa-refresh fa-spin fa-2x"></i>
            <br>
            <span>Espere por favor</span>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title"> Puntajes registrados (<small>123</small>)</h3>

                <table class="table table-hover">
                    <tr>
                        <th>Nombre</th>
                        <th>Nombre de la Rutina</th>
                        <th>Puntuacion</th>
                        <th>Puntaje Bueno</th>
                        <th>Puntaje Malo</th>
                        <th>Media</th>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>